body{
 
}

#Titre{
  position: fixed;
  width: 55%;
  z-index: 2;
  visibility:hidden;
  opacity: 0%;

  transition: visibility 2s, opacity 2s linear;

}



#fond{
    position: fixed;
    min-width:  100%;
    min-height: 100%; 
    z-index: 0;
    opacity: 0%;
    background-color: white;
    visibility: hidden;
    transition: visibility 1s, opacity 1s linear;
}


.ImageAcceuil1{
    margin-bottom: 1%;
    margin-left: 9%;
    margin-top: 15%;
    width: 40%;
    max-height: 80%;
    opacity: 100%;
    z-index: 15;
    text-align: center;
    position: absolute;


}
#Bloc3{
    background-color: white;
    width: 82%;
    height: 60%;
    z-index: 1;
    position: absolute;
    margin-bottom: 1%;
    margin-left: 9%;
    margin-top: 15%;
    opacity: 0%;
    visibility:hidden;
    transition: visibility 500ms, opacity 500ms linear;

}
.PetitPoint {
    padding-left: 1%;
    width: 2vw;
    height: 2vw;
    z-index: 15;
    opacity: 50%;
    transition: 0.5s;


}
#Bloc{
visibility:hidden;
opacity: 0%;

transition: visibility 1s, opacity 1s linear;

}
#Bloc2{
    position: absolute;
    margin-top: 46%;
    width: 99%;
    visibility:hidden;
    z-index: 10;
    text-align: center;
    transition: visibility 1s, opacity 1s linear;

}


.Texte{
    font-family: 'Dancing Script';
    font-size: 2.2vw;
    color: #000000;
    height: 50%;
    margin-left: 52%;
    margin-right: 10%;
    margin-top: 15%;
    z-index: 2;
    text-align: center;
    position: absolute;

}
#Textee{
    visibility:hidden;
    transition: visibility 1s, opacity 1s linear;
    opacity: 0%;

}
/*@media (max-width: 20cm){

    .ImageAcceuil1{
        padding-bottom: 1%;
        margin-top: 0% !important;
        padding-left: 10%;
        width: 80%;
        max-height: 60%;
        z-index: 10;
        opacity: 100%;
        text-align: center;
        position: absolute;
    }
    .PetitPoint {
        padding-bottom: 1%;
        margin-top: 70% ;
        margin-left: 5%;
        padding-left: 1%;
        width: 10vw;
        height: 10vw;
        z-index: 15;
        opacity: 50%;
        transition: 0.5s;
        display: none;
    }
}
*/
:root{
    --hauteur-menu: 5vw;

  }
  * {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
  }
  nav {
    width: 100%;
    font-size: 1vw;
    position: absolute;
    top: 0;
    z-index: 150;
    margin-top: 8%;
    opacity: 95%;
  }

  nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 0.1vw 0.2vw 0.1vw rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
    z-index: 150;

  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
  }

  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-deroulant > a:after{
    content: '❯';
    font-size: 1vw;
    margin-left: 0.5vw;
    display: inline-block;
  }

  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 0.2vw;
    overflow: hidden;
    max-height: 0;
  }
  
  .sous-menu > li > a {
    height: 4vw;
    padding-left: 1.6vw;
    width: 100%;
    align-items: center;
    display: flex;
  }

  nav > ul > li:hover > a{
    color: #1a5602;
  }

  .sous-menu > li:hover {
    background-color: rgba(15, 184, 0, 0.3);
  }
  
  .sous-menu > li:hover > a {
    color: white;
  }

  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }

  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0vw 0.3vw 0.3vw 0.1vw rgba(0,0,0,0);
      border-top: 0.3vw solid #1a5602;
    }
    30% {
      box-shadow: 0vw 0.3vw 0.3vw 0.1vw rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 0.3vw solid #1a5602;
      box-shadow: 0vw 0.3vw 0.3vw 0.1vw rgba(0,0,0,0.3);
    }
  }

  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }

  #TEST{
    transition: visibility 1s, opacity 1s linear;
    visibility:hidden;
    opacity: 0%;
    z-index: 200;
  }
